@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 20% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 199 89% 48%;

    --radius: 0.65rem;

    --editor-highlight-default: #ffffff;
    --editor-highlight-purple: #f6f3f8;
    --editor-highlight-red: #fdebeb;
    --editor-highlight-yellow: #fbf4a2;
    --editor-highlight-blue: #c1ecf9;
    --editor-highlight-green: #acf79f;
    --editor-highlight-orange: #faebdd;
    --editor-highlight-pink: #faf1f5;
    --editor-highlight-gray: #f1f1ef;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 20% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 199 89% 48%;

    --editor-highlight-default: #000000;
    --editor-highlight-purple: #3f2c4b;
    --editor-highlight-red: #5c1a1a;
    --editor-highlight-yellow: #5c4b1a;
    --editor-highlight-blue: #1a3d5c;
    --editor-highlight-green: #1a5c20;
    --editor-highlight-orange: #5c3a1a;
    --editor-highlight-pink: #5c1a3a;
    --editor-highlight-gray: #3a3a3a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
